
ul 
{
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e8c93;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

table 
{
	 font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
container{
	border: 4px solid black;
	
	
}

th, td {
	border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #3e8c93;
    color: white;
}
.recipieform{
	
	
	
	
}
h5 { 
    text-align: center;
	background-color:blue;
	
}


